* {
   -webkit-user-select: none;
}
body, html {
   margin: 0;
   height: 100%;
   position: relative;
}
body {
   padding-top: 70px;
   overflow: auto;
   background-color: #badfe2;
}
h1 {
   text-align: center;
}
td {
   padding-top:5px;
   padding-bottom:5px;
   padding-right:10px;
}
br {
   line-height: 150%;
}

/*Intro*/
.intro {
   padding-top: 5%;
}
.intro .brand-heading {
   font-size: 96px;
   font-family: Montserrat, Helvetica,Arial,sans-serif;
   font-weight: 700;
   color: #333333;
}
.intro .intro-text {
   font-size: 36px;
   font-family: Lora, sans-serif;
}

/*Div stuff*/
div {
   text-align: center;
}
div .container {
   padding-bottom: 16px;
}
.row {
   height: 74px;
   line-height: 74px;
   display: flex;
}
.col {
   flex: 1;
}
.num {
   text-align: right;
   font-family: Merriweather, Times;
   font-style: italic;
   font-size: 52px;
   margin-right: 8px;
}
.instr {
   text-align: left;
   font-family: Lato, sans-serif;
   font-size: 36px;
}
span {
   display: inline-block;
   vertical-align: middle;
   line-height: normal;
}
i {
   font-size: 40px;
   padding-right: 5px;
}
/*Bootstrap button outline override*/
.btn-outline {
    background-color: transparent;
    color: inherit;
    transition: all .3s;
    font-family: Lora;
}
.btn-primary.btn-outline {
    /*color: #428bca; */
    color:#2a5682;
}
.btn-primary.btn-outline:hover {
    color: #fff;
}
.btn-xlarge {
   padding: 24px 32px;
   font-size: 30px;
   line-height: normal;
   -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
         border-radius: 4px;
}
.btn-space {
   margin-left: 1px;
   margin-right: 1px;
}