<!DOCTYPE html>
<html>
   
<head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>Pick Your Key</title>
      <script src="../static/jquery-3.2.1.min.js"></script>
      <link rel="stylesheet" type="text/css" href="../static/bootstrap-3.3.7-dist/css/bootstrap.min.css">
      <script src="../static/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
      <style>
         * {
            -webkit-user-select: none;
         }
         body, html {
            margin: 0;
            height: 100%;
            position: relative;
         }
         body {
            padding-top: 70px;
            overflow: auto;
            background-color: lightblue;
         }
         h1 {
            text-align: center;
         }
         td {
            padding-top:5px;
            padding-bottom:5px;
            padding-right:10px;
         }
         li {
            text-align: center;
         }
         br {
            line-height: 150%;
         }
         .divider{
            width:10px;
            height:auto;
            display:inline-block;
         }
      </style>

   </head>
   <body>
      <div id="audio_list">
         <!-- audio tonic files -->
         <audio id="60Majorhigh.mp3" src="./resources/60Majorhigh.mp3" preload="auto"></audio>
         <audio id="60Majormid.mp3"  src="./resources/60Majormid.mp3" preload="auto"></audio>
         <audio id="60Minorhigh.mp3" src="./resources/60Minorhigh.mp3" preload="auto"></audio>
         <audio id="60Minormid.mp3"  src="./resources/60Minormid.mp3" preload="auto"></audio>

         <audio id="61Majorhigh.mp3" src="./resources/61Majorhigh.mp3" preload="auto"></audio>
         <audio id="61Majormid.mp3"  src="./resources/61Majormid.mp3" preload="auto"></audio>
         <audio id="61Minorhigh.mp3" src="./resources/61Minorhigh.mp3" preload="auto"></audio>
         <audio id="61Minormid.mp3"  src="./resources/61Minormid.mp3" preload="auto"></audio>

         <audio id="62Majorhigh.mp3" src="./resources/62Majorhigh.mp3" preload="auto"></audio>
         <audio id="62Majormid.mp3"  src="./resources/62Majormid.mp3" preload="auto"></audio>
         <audio id="62Minorhigh.mp3" src="./resources/62Minorhigh.mp3" preload="auto"></audio>
         <audio id="62Minormid.mp3"  src="./resources/62Minormid.mp3" preload="auto"></audio>

         <audio id="63Majorhigh.mp3" src="./resources/63Majorhigh.mp3" preload="auto"></audio>
         <audio id="63Majormid.mp3"  src="./resources/63Majormid.mp3" preload="auto"></audio>
         <audio id="63Majorlow.mp3"  src="./resources/63Majorlow.mp3" preload="auto"></audio>
         <audio id="63Minorhigh.mp3" src="./resources/63Minorhigh.mp3" preload="auto"></audio>
         <audio id="63Minormid.mp3"  src="./resources/63Minormid.mp3" preload="auto"></audio>
         <audio id="63Minorlow.mp3"  src="./resources/63Minorlow.mp3" preload="auto"></audio>

         <audio id="64Majorhigh.mp3" src="./resources/64Majorhigh.mp3" preload="auto"></audio>
         <audio id="64Majormid.mp3"  src="./resources/64Majormid.mp3" preload="auto"></audio>
         <audio id="64Majorlow.mp3"  src="./resources/64Majorlow.mp3" preload="auto"></audio>
         <audio id="64Minorhigh.mp3" src="./resources/64Minorhigh.mp3" preload="auto"></audio>
         <audio id="64Minormid.mp3"  src="./resources/64Minormid.mp3" preload="auto"></audio>
         <audio id="64Minorlow.mp3"  src="./resources/64Minorlow.mp3" preload="auto"></audio>

         <audio id="65Majorhigh.mp3" src="./resources/65Majorhigh.mp3" preload="auto"></audio>
         <audio id="65Majormid.mp3"  src="./resources/65Majormid.mp3" preload="auto"></audio>
         <audio id="65Majorlow.mp3"  src="./resources/65Majorlow.mp3" preload="auto"></audio>
         <audio id="65Minorhigh.mp3" src="./resources/65Minorhigh.mp3" preload="auto"></audio>
         <audio id="65Minormid.mp3"  src="./resources/65Minormid.mp3" preload="auto"></audio>
         <audio id="65Minorlow.mp3"  src="./resources/65Minorlow.mp3" preload="auto"></audio>

         <audio id="66Majorhigh.mp3" src="./resources/66Majorhigh.mp3" preload="auto"></audio>
         <audio id="66Majormid.mp3"  src="./resources/66Majormid.mp3" preload="auto"></audio>
         <audio id="66Majorlow.mp3"  src="./resources/66Majorlow.mp3" preload="auto"></audio>
         <audio id="66Minorhigh.mp3" src="./resources/66Minorhigh.mp3" preload="auto"></audio>
         <audio id="66Minormid.mp3"  src="./resources/66Minormid.mp3" preload="auto"></audio>
         <audio id="66Minorlow.mp3"  src="./resources/66Minorlow.mp3" preload="auto"></audio>

         <audio id="67Majorhigh.mp3" src="./resources/67Majorhigh.mp3" preload="auto"></audio>
         <audio id="67Majormid.mp3"  src="./resources/67Majormid.mp3" preload="auto"></audio>
         <audio id="67Majorlow.mp3"  src="./resources/67Majorlow.mp3" preload="auto"></audio>
         <audio id="67Minorhigh.mp3" src="./resources/67Minorhigh.mp3" preload="auto"></audio>
         <audio id="67Minormid.mp3"  src="./resources/67Minormid.mp3" preload="auto"></audio>
         <audio id="67Minorlow.mp3"  src="./resources/67Minorlow.mp3" preload="auto"></audio>

         <audio id="68Majorhigh.mp3" src="./resources/68Majorhigh.mp3" preload="auto"></audio>
         <audio id="68Majormid.mp3"  src="./resources/68Majormid.mp3" preload="auto"></audio>
         <audio id="68Majorlow.mp3"  src="./resources/68Majorlow.mp3" preload="auto"></audio>
         <audio id="68Minorhigh.mp3" src="./resources/68Minorhigh.mp3" preload="auto"></audio>
         <audio id="68Minormid.mp3"  src="./resources/68Minormid.mp3" preload="auto"></audio>
         <audio id="68Minorlow.mp3"  src="./resources/68Minorlow.mp3" preload="auto"></audio>

         <audio id="69Majorhigh.mp3" src="./resources/69Majorhigh.mp3" preload="auto"></audio>
         <audio id="69Majormid.mp3"  src="./resources/69Majormid.mp3" preload="auto"></audio>
         <audio id="69Majorlow.mp3"  src="./resources/69Majorlow.mp3" preload="auto"></audio>
         <audio id="69Minorhigh.mp3" src="./resources/69Minorhigh.mp3" preload="auto"></audio>
         <audio id="69Minormid.mp3"  src="./resources/69Minormid.mp3" preload="auto"></audio>
         <audio id="69Minorlow.mp3"  src="./resources/69Minorlow.mp3" preload="auto"></audio>

         <audio id="70Majorlow.mp3"  src="./resources/70Majorlow.mp3" preload="auto"></audio>
         <audio id="70Majormid.mp3"  src="./resources/70Majormid.mp3" preload="auto"></audio>
         <audio id="70Minorlow.mp3"  src="./resources/70Minorlow.mp3" preload="auto"></audio>
         <audio id="70Minormid.mp3"  src="./resources/70Minormid.mp3" preload="auto"></audio>

         <audio id="71Majorlow.mp3"  src="./resources/71Majorlow.mp3" preload="auto"></audio>
         <audio id="71Majormid.mp3"  src="./resources/71Majormid.mp3" preload="auto"></audio>
         <audio id="71Minorlow.mp3"  src="./resources/71Minorlow.mp3" preload="auto"></audio>
         <audio id="71Minormid.mp3"  src="./resources/71Minormid.mp3" preload="auto"></audio>
      </div>

      <nav class="navbar navbar-inverse navbar-fixed-top">
         <div class="navbar-header">
            <a href="#" class="navbar-brand"><span class="glyphicon glyphicon-music" aria-hidden="true"></span> HarmonizeMe</a>
         </div>
<!--          <ul class="nav navbar-nav">
            <li><a href="#">Replacethis,formusictheory</a></li>
         </ul> -->
      </nav>

      <div class="container">
         <h1>
            Key Selection
         </h1>

         <div class="jumbotron" name="key_selector">
            <p align="center">
               Please select your key, by selecting a tonic and the mode. <br>
               You can hear the key that you will be singing in when you press "Play audio"!
            </p>

            <table align="center">
               <tr>
                  <td>
                     <div style="float:left; width:100px;" class="form-group">
                        <label for="tonic_picker">Select tonic:</label> <br>
                        <select id="tonic_picker" class="form-control">
                           <option value="60" selected>C</option> 
                           <option value="61">C&#x266f;/D&#x266d;</option>
                           <option value="62">D</option>
                           <option value="63">E&#x266d;</option>
                           <option value="64">E</option>
                           <option value="65">F</option>
                           <option value="66">F&#x266f;/G&#x266d;</option>
                           <option value="67">G</option>
                           <option value="68">G&#x266f;/A&#x266d;</option>
                           <option value="69">A</option>
                           <option value="70">B&#x266d;</option>
                           <option value="71">B</option>
                        </select>
                     </div>
                  </td>
                  <td>
                     <div style="float:left; width:100px;" class="form-group">
                        <label for="mode_picker">Select mode:</label> <br>
                        <select id="mode_picker" class="form-control">
                           <option value="0" selected>Major</option> 
                           <option value="1">Minor</option>
                        </select>
                     </div>
                  </td>
                  <td>
                     <div style="float:left; text-align:center" class="form-group">
                        <br>
                        <button class="btn btn-success" type="button" onclick="playKey(this)"><span class="glyphicon glyphicon-play" aria-hidden="true"></span> Play audio!</button>
                        <button class="btn btn-success" type="button" onclick="stopKey(this)" disabled><span class="glyphicon glyphicon-stop" aria-hidden="true"></span> Stop</button>
                     </div>
                  </td>
               </tr>
               <tr>
                  <td colspan="3" align="center">
                     <p align="center">
                        Also, please select your voice range:
                        <form>
                           <label class="radio-inline"><input type="radio" id="high" name="optradio" checked>High</label>
                           <label class="radio-inline"><input type="radio" name="optradio">Low</label>
                        </form>
                     </p>
                  </td>
               </tr>
               <tr>
                  <td colspan="3" align="center">
                     <a id="harmony_link" href="{{ url_for('harmonizer') }}" class="btn btn-info btn-lg">Harmonize in this key!</a>
                  </td>
               </tr>
            </table>
         </div>
      </div> <!-- end container -->

      <script>
         var curr_audio;

         window.onload = function() {
            curr_audio = null;

            var harmony_link = document.getElementById("harmony_link");

            harmony_link.onclick = function() {
               // key stuff
               var tonic_e = document.getElementById("tonic_picker");
               var mode_e = document.getElementById("mode_picker");

               // to send to Harmonizer.py
               var tonic = tonic_e.options[tonic_e.selectedIndex].value;
               var mode = mode_e.options[mode_e.selectedIndex].value;

               var key = [tonic, mode];
               var keyString = key.toString();

               $.post("/keyData", keyString, function(data) {
                  console.log("data in key_picker.html: " + data);
               });

               // shift stuff
               var high = document.getElementById("high");
               var shift;
               if (high.checked) shift = "down";
               else shift = "up";
               $.post("/shiftData", shift, function(data) {
                  console.log("Your voice will be shifted " + data);
               });
            }
         }


         function playKey(button) {
            // disable Play button while playing
            button.disabled = true;
            // enable Stop button while playing
            button.nextElementSibling.disabled = false;
            var tonic_e = document.getElementById("tonic_picker");
            var mode_e = document.getElementById("mode_picker");
            var selected_tonic = tonic_e.options[tonic_e.selectedIndex].text;
            var selected_mode = mode_e.options[mode_e.selectedIndex].text;

            // to send to Harmonizer.py
            var tonic = tonic_e.options[tonic_e.selectedIndex].value;
            var mode = mode_e.options[mode_e.selectedIndex].value;

            var file_name = tonic + selected_mode + "mid.mp3";
            var message = "You picked " + selected_tonic + " " + selected_mode + ".";
            //confirm("This is your filename: " + file_name);
            //confirm(message);
            var html_audio = document.getElementById(file_name);

            // button is disabled now, this shouldn't happen.
            if (curr_audio != null) { // not null, something is playing;
               curr_audio.pause();
               curr_audio.currentTime = 0;
            }
            curr_audio = html_audio;
            curr_audio.play()
            curr_audio.onended = function() {
               curr_audio = null;
               // enable Play and disable Stop buttons when done
               button.disabled = false;
               button.nextElementSibling.disabled = true;
            };
         }

         function stopKey(button) {
            button.disabled = true;
            button.previousElementSibling.disabled = false;

            if (curr_audio != null) {
               curr_audio.pause();
               curr_audio.currentTime = 0;
               curr_audio = null;
            }
         }
      </script>
   </body>
</html>
